<div class="row">

  <div class="col-sm-offset-1 col-sm-3 col-xs-12" id="leftcol">
    <%= render 'docs/sidebar' %>
  </div>

  <div class="col-sm-7 col-xs-12">

    <h1 id="channels">کانال ها</h1>
 کانال‌ها یک گونه دسته بندی برای اطلاعات شما هستند. برای مثال شما می‌توانید برای سنسورهای موجود در خانه‌ی خود یک کانال بسازید و در هر کانال برای هر سنسور یک فیلد  ایجاد کنید. فیلد شامل تمام اندازه‌گیری‌ها و داده‌های شماست هر کانال می‌تواند حداکثر 8 فیلد داشته باشد. به این ترتیب شما در هر کانال قادر خواهید بود 8 نوع داده‌ی مختلف را ذخیره‌سازی کنید.    <br><br>
    <hr />
    <%= render 'docs/channels/create' %>

    <hr />
    <%= render 'docs/channels/show' %>

    <hr />
    <%= render 'docs/channels/update_feed' %>

  </div>
</div>

