<!DOCTYPE html>
<html dir="rtl">
  <%= render 'layouts/header' %>

  <body>

    <div id="wrap">
      <%= render 'layouts/nav' %>
      <div class="container">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </div>
    </div>

  

  </body>
</html>

